################################
# common ignores for all repos
################################
*.log
delit*
delit/
logs/
*.swp
*~
not-for-git/

*.tgz
*.zip
*.xz
*.bzip2
*.tar

*.out
*.o
*.so
*.a
*.c.c
*.plist
build/

__pycache__/
*.pyc
*.pyo
################################

################################################
# span
################################################

*.spanir
*.bb.dot
*.cfg.dot
*.ipa-cfg.dot
*.node.dot
*.c.spanreport
*.callgraph.dot
*.spanir.processed
*.proto.bin
span-tool.tgz
span-tool/
/project/tests/automated/*.c.spanir

################################################
#
################################################
# misc
################################################

db/
*.swp
build/
*.log
logs/
not-for-git/

################################################

################################################
# haskell
################################################

*.hi
*.hc
*.o
Main

################################################

################################################
# python/cython
################################################

__pycache__/
*.pyc
*.pyo
*.so
venv/
.mypy_cache
.mypy.*

################################################

################################################
# llvm
################################################

*.plist

################################################

