# IDE related excludes
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Build and log files
build-*
*.tmp.log
*/bin/*

# Generated protobuf file(s)
*.pg.go
