# IDE related excludes
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.vscode_cmake_built

# Build and log files
build/
*/built/*
build-*
*.tmp.log
*/bin/*
*.o
*.out

# temporary lit test files
.test_output

# Go specific ignores
span/pkg/mod
span/pkg/sumdb
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
go.work

